* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.foto-perfil {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 4rem;
}

.background {
    width: 100vw;
    background-color: lightgray;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section2 {
    display: flex;
    justify-content: center;
    margin-left: 6rem;
    gap: 4rem;
    margin-top: 3rem;

}

.div1,
.div2 {
    gap: 2rem;
    display: flex;
    flex-direction: column;

}